@import "../../../_variables";
.navbar {
  background-color: $black;
  .nav-item {
    a {
      color: white;
    }
  }
  &-brand {
    width: 35px;
    img {
      width: 100%
    }
  }
  .user-img {
    width: 30px;
  }
  .form-inline {
    position: relative;
    width: 22%;
    @media (max-width: 992px) {
      width: 100%;
    }
    ::placeholder {
      color: hsla(0, 0%, 100%, .75);
    }
    .form-control {
      width: 100%;
      background-color: hsla(0, 0%, 100%, .125);
      border: 0;
      height: 30px;
    }
    .btn-search {
      //   border: 1px solid $border-color;
      //   color: $border-color;
      position: absolute;
      right: 12px;
      display: flex;
      justify-content: center;
      padding: 0 5px;
      line-height: 1.5;
    }
  }
  .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    @media (max-width: 992px) {
      justify-content: flex-start;
      margin: 10px 0;

    }
    a {
      padding: 0 0.5rem;
      color: #fff;
    }
    .dropdown-item {
      color: $black !important;
    }
  }
  .navbar-toggler {
    flex-direction: column;
    padding: 5px;
    @media (max-width: 992px) {
      display: flex;
      border-color: #fff !important;
    }
    .navbar-toggler-icon {
      height: 1px;
      margin: 3px 0;
      background: white;
      &:last-child {
        height: 0.5px;
      }
    }
  }
  .navbar-collapse {
    @media (max-width: 992px) {
      position: absolute;
      top: 3.6rem;
      left: -1px;
      right: 0;
      background: #24292e;
      z-index: 999;
      padding: 0px 20px;
    }
  }
}
