<div class="user-profile">
  <div class="container">
    <span class="user-profile-img">
      <img class="rounded-1 avatar-user" [src]="profileData.avatar_url" class="img-circle">
    </span>
        <div class="user-profile-name">
          <h3>{{profileData.name}}
          </h3>
          <p>{{profileData.login}}</p>
          <button class="btn btn-edit w-100">
            <img src="../../../assets/img/heart.svg" alt="" width="15"> sponser</button>
          <button class="btn btn-edit w-100">Follow</button>
        </div>
        <ul class="list-unstyled icon-wrapper">
          <li>
            <div class="icon">
              <img src="../../../assets/img/group.svg" width="15" alt="">
            </div>
            <div class="content-wrapper">
              {{profileData.twitter_username ? profileData.twitter_username : 'No Data'}}</div>
          </li>
          <li>
            <div class="icon">
              <img src="../../../assets/img/placeholder.svg" alt="" width="15">
            </div>
            <div class="content-wrapper">
              {{profileData.location ? profileData.location : 'No Data'}}
            </div>
          </li>
          <li>
            <div class="icon link-icon">
              <img src="../../../assets/img/link.svg" alt="" width="15">
            </div>
            <div class="content-wrapper">
              {{profileData.subscriptions_url ? profileData.subscriptions_url : 'No Data'}}
            </div>
          </li>
        </ul>

    </div>

  </div>
