/* -------------------------------------
              color variables
--------------------------------------- */
$BG: #f9f9f9;
$border-color :#d8dee2;
$darkgrey:#333;
$lightBlack:#24292e;
$link:#0366d6;
$orange:#f9826c;
$black:#24292e;